{% extends 'base.htm'%}
{% block content %}

<div class="col-4 offset-4">
    <a href="/" class="btn btn-secondary mt-3">Go home</a>
    <div class="card mt-3">
        <div class="card-header">
            <a href="/{{todo.id}}"></a><h4>{{todo.name}}</h4>
        </div>
        <div class="card-body">
            <p>It's due {{todo.due_date}}</p>
        </div>
        <div class="card-footer">
            <a href="/{{todo.id}}/update/"class='btn btn-success'>Update this todo</a>
            <a href="/{{todo.id}}/delete/"class='btn btn-danger'>Delete this todo</a>
        </div>
    </div>
</div>




{% endblock%}